# dependencies
/node_modules

# next.js
/.next/
/out/

# env files (JANGAN upload ke GitHub!)
.env
.env.local
.env.*.local

# debug
npm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

.vercel

# Session context files
SESSION_CONTEXT.md
